*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;

}

body{
    text-align: center;
    background-image: url('pic.jpg');  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.box{
    color: white;
}




